{% include 'header.html' %}    

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Best Offer</th>
                <th>Auto Pay</th>
                <th>Level</th>
                <th>Parent ID</th>
                <th>ID</th>
                <th>Leaf</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category[0] }}</td>
                <td>{{category[1] }}</td>
                <td>{{category[2] }}</td>
                <td>{{category[3] }}</td>
                <td>{{category[4] }}</td>
                <td>{{category[5] }}</td>
                <td>{{category[6] }}</td>
                <td>
                    <a href="/edit/{{category[5]}}">Editar</a> 
                     / 
                    <a href="/destroy/{{category[5]}}">Eliminar</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}
